.header{
  height:150px;
  margin-bottom:20px;
  background-color:#d9e021;
  display: flex;
  align-items: center;
}
.header_contents{
  margin:0 auto;
  width:980px;
  border: 1px solid #000;
}
.logo{
  width:200px;
  color:#52b6ac;
  font-size:12px;
  display:flex;
  align-items:center;
}
.logo img{
  width:50px;
  margin-right:10px;
}
.contents{
  margin:0 auto;
  width:980px;
  border: 1px solid #00F;
}
.visual{
  height:400px;
  background: url("../images/top_bg.jpg") no-repeat center center;
  display: flex;
  align-items: center;
}
.copy{
  color:#FFF; /*文字の色指定*/
  margin-left:100px; /*左側の余白*/
  font:normal 32px/2em sans-serif;
}
.text_wrapper{
  height:200px;
  display:flex;
  justify-content: center;
  border: 1px solid #ccc;
}
.text{
  width:380px;
  border: 1px solid #F0F;
}
.menu{
  width:360px;
  border: 1px solid #0F0;
}
.footer{
  height:120px;
  margin-top:30px;
  border: 1px solid #000;
}
.footer_contents{
  margin:0 auto;
  width:980px;
  text-align: center;
}

